.mat-card {
    width: 40%;
    margin: 0% 30% 1% 30%;
}

.submit-section {
    text-align: right;
}

.clear-btn {
    margin: 15px 0px 0px 0px;
    background: transparent;
}

.mat-toolbar {
    margin-bottom: 8px;
    background: #283e4a;
    color: aliceblue;
}

.add-child {
    margin: 15px 0px 15px 0px;
}

.mat-form-field-infix {
    width: 200px;
}

.input-row {
    margin-top: 20px;
}

.mat-input-wrapper {
    width: 100px !important;
}

.full-width-container {
    width: 80% !important; 
}
