<mat-toolbar>Benefit Deduction Calculator</mat-toolbar>
<div>
    <mat-card>
        <mat-card-title>
            <b>Insured names</b>
        </mat-card-title>
        <mat-divider></mat-divider>
        <form [formGroup]="insuredNamesForm">
            <div class="input-row">
                <mat-form-field class="full-width-container">
                    <input type="text" matInput maxlength="50" formControlName="employeeName" placeholder="Employee"/>
                    <mat-error *ngIf="insuredNamesForm.get('employeeName').dirty || !insuredNamesForm.get('employeeName').valid">
                        Required. Must be between 1 and 50 characters.
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="full-width-container">
                    <input type="text" matInput maxlength="50" formControlName="spouseName" placeholder="Spouse"/>
                    <mat-hint align="end">*Optional</mat-hint>
                </mat-form-field>
            </div>
            <div formArrayName="childNames" *ngFor="let childName of insuredNamesForm.get('childNames').value; index as i; trackBy: trackByFn">
                <mat-form-field class="full-width-container" >                        
                    <input type="text" matInput maxlength="50" [formControlName]="i" placeholder="Child"/>
                </mat-form-field>
            </div>
            <div class="add-child">
                <button mat-raised-button (click)="addChildControl()">Add Child</button>
            </div>
            <mat-divider></mat-divider>
            
            <div class="submit-section">
                <button mat-raised-button class="clear-btn" (click)="clearNamesForm()">Clear Form</button>
            </div>
        </form>
    </mat-card>
</div>
<div>
    <mat-card>
        <mat-card-title>
            <b>Deductions</b>
        </mat-card-title>
        <mat-divider></mat-divider>
        <form [formGroup]="deductionsForm">
            <div class="input-row">
                <mat-form-field class="full-width-container">
                    <input matInput type="text" formControlName="perCheck" placeholder="Per Check"/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="full-width-container">
                    <input matInput type="text" formControlName="monthly" placeholder="Monthly"/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="full-width-container">
                    <input matInput type="text" formControlName="yearly" placeholder="Yearly"/>
                </mat-form-field>
            </div>
        </form>
    </mat-card>
</div>
